In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [17]:
network = pd.read_csv('ChG-Miner_miner-chem-gene.tsv', sep = "\t")
# diseases = network['# Disease(MESH)'] 
diseases = network['#Drug'] 
network.columns = ['a','b']
network

             a       b
0      DB00357  P05108
1      DB02721  P00325
2      DB00773  P23219
3      DB07138  Q16539
4      DB08136  P24941
...        ...     ...
15134  DB01215  P47870
15135  DB06089  P51787
15136  DB01614  P21728
15137  DB00582  P08684
15138  DB04793  P07477

[15139 rows x 2 columns]

In [18]:
# diseases_new = [i[5:] for i in diseases]
# network['a'] = diseases_new

In [19]:
# network

In [20]:
reference = pd.read_csv('reference.csv', index_col=0)
reference.index = reference['1']
reference = reference[~reference.index.duplicated(keep='first')]

In [21]:
reference

             0       1       2
1
P04217       1  P04217    A1BG
Q9NQ94   29974  Q9NQ94    A1CF
P01023       2  P01023     A2M
A8K2U0  144568  A8K2U0   A2ML1
Q9NPC4   53947  Q9NPC4  A4GALT
...        ...     ...     ...
Q6WRX3  440590  Q6WRX3  ZYG11A
Q9C0D3   79699  Q9C0D3  ZYG11B
Q15942    7791  Q15942     ZYX
O43149   23140  O43149   ZZEF1
Q8IYH5   26009  Q8IYH5    ZZZ3

[19610 rows x 3 columns]

In [22]:
print(len(set(reference['1'])))

19610

In [23]:
val_list = []
for i, j in tqdm(network.iterrows()):
    if j['b'] in reference.index:
        val_list.append(reference.loc[j['b'],'0'])
    else:
        val_list.append("null")

15139it [00:00, 16160.63it/s]

In [24]:
val_list

[1583,
 125,
 5742,
 1432,
 1017,
 6530,
 1132,
 2557,
 1565,
 150,
 476,
 5644,
 4314,
 5770,
 1432,
 189,
 2947,
 1558,
 1576,
 1565,
 1576,
 2556,
 4074,
 6713,
 1557,
 3156,
 5467,
 5690,
 3945,
 590,
 5837,
 10846,
 5742,
 5979,
 2559,
 1565,
 2905,
 1357,
 51174,
 6035,
 1137,
 1551,
 150,
 55879,
 9955,
 5566,
 1017,
 2098,
 5156,
 5692,
 5742,
 2904,
 1017,
 5468,
 2566,
 4986,
 5139,
 1543,
 1576,
 2212,
 2213,
 673,
 4860,
 3791,
 2566,
 216,
 1557,
 153,
 1544,
 1559,
 4128,
 1558,
 5313,
 8644,
 1432,
 4313,
 3249,
 4321,
 4522,
 2099,
 1558,
 27306,
 1548,
 2214,
 1565,
 2557,
 3785,
 1543,
 2563,
 5142,
 51727,
 2683,
 1577,
 4830,
 801,
 2554,
 5770,
 1666,
 801,
 3643,
 10797,
 64849,
 23042,
 6392,
 1577,
 1111,
 2272,
 11251,
 5143,
 4502,
 3269,
 1432,
 3251,
 5600,
 4069,
 6241,
 1576,
 1814,
 6010,
 3043,
 6609,
 1135,
 1559,
 5029,
 6532,
 1576,
 712,
 1558,
 506,
 1814,
 9103,
 147,
 4594,
 146,
 9254,
 89832,
 2166,
 5601,
 5165,
 1588,
 1565,
 6470,
 1576,
 2913,
 3752,
 1129,
 118881,
 3358,
 7422,
 1990,
 4988,
 1557,
 5328,
 6530,
 1645,
 4314,
 5743,
 2099,
 2147,
 1555,
 5315,
 153,
 1558,
 151,
 1559,
 6138,
 7421,
 151,
 2597,
 3350,
 2147,
 3554,
 1814,
 5053,
 5644,
 4677,
 4842,
 7366,
 3356,
 2903,
 6559,
 1017,
 55163,
 4720,
 1576,
 1956,
 1558,
 7167,
 154,
 2948,
 26,
 1215,
 4701,
 4846,
 1128,
 155,
 6915,
 5066,
 5579,
 3269,
 5142,
 1577,
 5144,
 785,
 1559,
 3352,
 2905,
 5165,
 5972,
 8856,
 3269,
 2564,
 2556,
 151,
 4314,
 1558,
 1135,
 2149,
 81693,
 4129,
 148,
 2554,
 43,
 55699,
 1551,
 8856,
 3156,
 1577,
 1576,
 7150,
 152,
 3039,
 6531,
 153,
 3932,
 3359,
 9349,
 1544,
 2246,
 162514,
 3269,
 1017,
 890,
 1133,
 1558,
 54658,
 43,
 6530,
 2739,
 152,
 1548,
 7366,
 4860,
 2539,
 151,
 1576,
 9453,
 1513,
 1584,
 714,
 10206,
 1436,
 83903,
 3356,
 27349,
 4860,
 1551,
 5646,
 1909,
 1457,
 3776,
 5685,
 5566,
 7298,
 728635,
 2057,
 55879,
 79784,
 1565,
 5580,
 1508,
 10243,
 4846,
 553,
 779,
 1576,
 6336,
 1131,
 3355,
 3351,
 1576,
 1593,
 1131,
 1728,
 11253,
 148,
 6470,
 9266,
 1376,
 4314,
 2562,
 6532,
 590,
 'null',
 1544,
 2243,
 154,
 5294,
 2539,
 'null',
 3560,
 1536,
 1559,
 713,
 2558,
 1557,
 2562,
 1576,
 5733,
 10988,
 1576,
 1384,
 433,
 1128,
 2950,
 2099,
 10975,
 1350,
 5564,
 2324,
 10014,
 9254,
 3358,
 4759,
 116443,
 4133,
 5743,
 1593,
 1543,
 1513,
 6336,
 55879,
 54106,
 6733,
 1555,
 7923,
 1131,
 2556,
 2570,
 27089,
 7846,
 7124,
 1345,
 3269,
 7284,
 10382,
 2554,
 2554,
 1576,
 2898,
 3358,
 1576,
 1583,
 1544,
 1543,
 1576,
 3352,
 801,
 3043,
 3358,
 152,
 1577,
 1576,
 1723,
 4507,
 2562,
 1803,
 5644,
 8654,
 2099,
 1576,
 4843,
 54577,
 57053,
 360203,
 1559,
 1559,
 1441,
 4069,
 3351,
 1062,
 2557,
 7298,
 5465,
 5743,
 5351,
 1583,
 25,
 4321,
 3764,
 116443,
 1559,
 4842,
 1131,
 2779,
 1571,
 150,
 9479,
 6531,
 387129,
 2099,
 6532,
 4048,
 1548,
 1551,
 3717,
 3361,
 301,
 3456,
 3269,
 1576,
 3350,
 2939,
 1360,
 2212,
 1565,
 1544,
 6336,
 8732,
 1551,
 1129,
 6143,
 3815,
 50700,
 1080,
 2618,
 9254,
 23408,
 154,
 1215,
 142,
 5742,
 146,
 1991,
 2555,
 3458,
 1131,
 5423,
 978,
 2213,
 7173,
 7384,
 1812,
 154,
 147,
 1571,
 50814,
 10206,
 2243,
 1141,
 3454,
 2554,
 189,
 1565,
 760,
 8648,
 1129,
 759,
 2643,
 1576,
 1812,
 8648,
 317,
 1544,
 3778,
 3486,
 2557,
 50,
 6868,
 2978,
 5241,
 148,
 1544,
 1544,
 1576,
 1803,
 2342,
 1312,
 6327,
 1559,
 51284,
 3939,
 338557,
 58485,
 1557,
 3269,
 2563,
 1577,
 147,
 316,
 1504,
 9453,
 392399,
 1576,
 3710,
 10560,
 3764,
 1559,
 43,
 7421,
 1565,
 1576,
 9261,
 1576,
 8644,
 713,
 51311,
 2099,
 5409,
 3514,
 4200,
 2564,
 6258,
 3567,
 9061,
 6614,
 5127,
 462,
 10381,
 3363,
 1544,
 714,
 2891,
 80854,
 54600,
 2560,
 2205,
 55851,
 2555,
 145864,
 3957,
 8985,
 9177,
 7372,
 7364,
 5139,
 6132,
 84532,
 5550,
 23521,
 5581,
 1558,
 3269,
 5569,
 9568,
 1559,
 1551,
 154,
 6529,
 152,
 4199,
 8648,
 2554,
 23643,
 148,
 6530,
 2932,
 1576,
 10105,
 51185,
 26279,
 7498,
 2556,
 5743,
 3357,
 1576,
 1544,
 1312,
 1548,
 1576,
 150,
 7153,
 142,
 7018,
 147,
 1813,
 3350,
 834,
 1576,
 2050,
 5837,
 1357,
 2798,
 1544,
 10062,
 760,
 5329,
 3859,
 54658,
 1813,
 1565,
 2566,
 1555,
 1812,
 1577,
 2556,
 1128,
 4312,
 1565,
 27095,
 1143,
 2100,
 200959,
 15,
 1571,
 1565,
 5742,
 2147,
 1557,
 2348,
 2159,
 3500,
 2690,
 5653,
 3320,
 2147,
 1565,
 1128,
 10461,
 3356,
 766,
 3356,
 795,
 6790,
 6647,
 2565,
 5802,
 7376,
 9254,
 1432,
 3294,
 55879,
 1555,
 1160,
 3791,
 5742,
 1559,
 23621,
 10404,
 590,
 153,
 1557,
 1559,
 476,
 590,
 6500,
 762,
 5105,
 3643,
 1544,
 1557,
 1129,
 1551,
 5569,
 308,
 1548,
 3791,
 2099,
 4842,
 1576,
 1577,
 1543,
 367,
 781,
 2891,
 4067,
 713,
 3362,
 2101,
 2739,
 1576,
 1557,
 59340,
 2560,
 5159,
 1632,
 1576,
 2567,
 3569,
 1815,
 26013,
 1559,
 2214,
 1576,
 2160,
 1131,
 1576,
 1573,
 2243,
 4722,
 1133,
 2560,
 673,
 4720,
 133688,
 2324,
 7388,
 3356,
 3818,
 2224,
 5053,
 3934,
 1139,
 155,
 2746,
 2683,
 1573,
 7364,
 2798,
 1565,
 3786,
 1576,
 55217,
 1141,
 148,
 1559,
 1131,
 1432,
 5837,
 5770,
 6843,
 2841,
 2099,
 6523,
 1017,
 3615,
 1595,
 1576,
 553,
 6096,
 1588,
 759,
 1559,
 1158,
 8630,
 116443,
 55869,
 1557,
 1544,
 2550,
 3934,
 3778,
 2172,
 1565,
 51706,
 2898,
 2677,
 760,
 240,
 147,
 5143,
 153,
 3352,
 152,
 5170,
 2322,
 5468,
 1583,
 3359,
 4317,
 8648,
 1576,
 9415,
 4524,
 1558,
 1577,
 1816,
 154,
 1559,
 1548,
 5914,
 1576,
 1559,
 3320,
 1635,
 5743,
 3744,
 759,
 231,
 3162,
 1950,
 5741,
 5471,
 5770,
 1571,
 1813,
 1105,
 1017,
 823,
 1128,
 3176,
 2263,
 6331,
 5138,
 3750,
 116443,
 4986,
 2891,
 435,
 5742,
 786,
 9103,
 760,
 54884,
 2556,
 2908,
 1803,
 285313,
 240,
 5644,
 79001,
 5837,
 4985,
 1548,
 2560,
 1520,
 5535,
 154,
 1565,
 1584,
 1545,
 8802,
 4321,
 1559,
 4128,
 1438,
 142,
 6470,
 1562,
 2653,
 1504,
 6284,
 1504,
 5594,
 1576,
 2557,
 1558,
 782,
 4846,
 291,
 5743,
 3614,
 55163,
 2740,
 1559,
 43,
 2147,
 590,
 5150,
 8856,
 5743,
 9054,
 55879,
 4988,
 1555,
 10863,
 1551,
 1576,
 1132,
 4985,
 1017,
 1386,
 5569,
 3480,
 3269,
 5916,
 1576,
 4702,
 1576,
 7535,
 9254,
 2556,
 2558,
 6352,
 3065,
 55879,
 1558,
 4507,
 2560,
 5742,
 210,
 2565,
 148,
 5241,
 1548,
 1576,
 1544,
 2159,
 1558,
 55879,
 1559,
 1135,
 4153,
 3980,
 2569,
 2746,
 873,
 1557,
 4541,
 1129,
 10841,
 1571,
 5743,
 150,
 6539,
 2903,
 3156,
 55879,
 3480,
 834,
 2875,
 1311,
 7385,
 1562,
 683,
 1562,
 2556,
 5644,
 4048,
 2564,
 6565,
 1890,
 4306,
 200959,
 1551,
 1555,
 1644,
 4317,
 3557,
 6392,
 1544,
 4129,
 6010,
 762,
 2560,
 1557,
 1558,
 3350,
 1576,
 3791,
 1558,
 4353,
 2645,
 3091,
 10206,
 6534,
 760,
 762,
 1551,
 1133,
 759,
 2746,
 718,
 2562,
 2903,
 151,
 1558,
 155,
 1557,
 1577,
 5321,
 140801,
 590,
 833,
 84706,
 6532,
 3350,
 5566,
 818,
 25,
 2692,
 3357,
 3932,
 2558,
 2562,
 11253,
 1551,
 1544,
 4036,
 3757,
 154,
 3356,
 57053,
 2147,
 4985,
 5770,
 55879,
 54658,
 4128,
 1803,
 ...]

In [25]:
network['c'] = val_list

In [26]:
network.to_csv('Drug_gene_net.csv')

In [27]:
network

             a       b     c
0      DB00357  P05108  1583
1      DB02721  P00325   125
2      DB00773  P23219  5742
3      DB07138  Q16539  1432
4      DB08136  P24941  1017
...        ...     ...   ...
15134  DB01215  P47870  2561
15135  DB06089  P51787  3784
15136  DB01614  P21728  1812
15137  DB00582  P08684  1576
15138  DB04793  P07477  5644

[15139 rows x 3 columns]